# images and pdfs
*.png
*.pdf

# virtual envs
env/

# tensorboard
my_graph/

# LibreOffice Calc
*.ods

# MNIST data
MNIST-data/

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
