# images and pdfs
*.png
*.pdf

# virtual envs
env/

# tensorboard
my_graph/

# LibreOffice Calc
*.ods

# datasets
MNIST-data/
datasets/

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
